#about {
  background-color: #e5e5e5;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

.about-container h2 {
  color: black;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  font-weight: bolder;
  font-size: 4vmax;
}

.about-container p {
  color: black;
  font-family: "Share Tech Mono", monospace;
  font-size: 2vmax;
}


.about-container Image {
  width: 20px;
}
