#about {
  background-color: #e5e5e5;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}

.about-container h2 {
  color: black;
  font-family: "Black Ops One", cursive;
}

.about-container p {
  color: black;
  font-family: "Share Tech Mono", monospace;
}


.about-container Image {
  width: 20px;
}
