@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5rem;
  }
  
  .about-container h4{
    text-align: center;
    color: white;
    font-size: 2vmax;
    font-weight: 900;
    text-shadow: 0 0 15px black, 0 0 15px black;
    margin-bottom: 1.5rem;
  }

  .about-div {
    text-align: center;
  }
  
  .myskills-btn {
    appearance: none;
    background-color: #e5e5e5;
    border-radius: 50px;
    border-style: none;
    box-shadow: #ADCFFF 0 -15px 6px inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: -0.24px;
    margin-top: 1rem;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .myskills-btn:hover {
    color: black;
    background-color: #e5e5e5;
    box-shadow: #adcfff 0 -12px 6px inset;
    transform: scale(1.125);
  }
  
  .myskills-btn:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 768px) {
    .myskills-btn {
      font-size: 1.5rem;
      padding: 0.75rem 2rem;
    }
  }
  