.footer { 
  color: white;
  padding: 10px 0 0;
  text-align: end;
}

.copyright {
  font-size: 16px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 767.5px) {
  .footer {
    text-align: start;
    padding: 5px 0 0;
  }
}
