#home {
 background-color: black;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container h1 {
  text-align: center;
  color: #e5e5e5;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  letter-spacing: 10px;
  font-weight: bolder;
  font-size: 6vmax;
  margin-block: 1rem;
}

.home-container p {
  text-align: center;
  color: #e5e5e5;
  font-family: "Share Tech Mono", monospace;
  font-size: 3vmax;
  margin-bottom: 4rem;
  font-weight: 100;
}

.home-container .div-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
}

.home-container .div-buttons button {
  color: #e5e5e5;
  background-color: transparent;
  border: 3px solid #e5e5e5;
  border-radius: 0;
  margin-inline: 1rem;
  transition: 0.4s;
}

.home-container .div-buttons button:hover {
  color: black;
  background-color: #e5e5e5;
  transform: scale(1.3);
}

@media screen and (max-width: 350.5px) {
  .home-container .div-buttons button {
    margin-inline: 0.2rem;
  }
}
