#home {
  display: block;
  margin: 2rem;
}

#home .home-card {
  min-height: 100vh;
  border: none;
  border-radius: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;
}

#home .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home .top-left {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

#home .top-left .hi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#home .top-left .portfolio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#home .top-right {
  display: block;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

#home .top-right .available {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

#home .top-right .date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

#home .mid {
  text-align: center;
  font-size: 13rem;
  line-height: 80%;
  font-family: "Bebas Neue", sans-serif;
}

#home .bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home .bot-left {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
}

#home .bot-left .designed,
#home .bot-left .developed,
#home .bot-left a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#home .bot-left a:hover {
  cursor: url("./images/cursor-hover.png"), pointer;
  color: #6ab258;
}

#home .bot-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .bot-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#home .bot-mid .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home .bot-mid .social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#home .bot-mid .social-media a:hover {
  cursor: url("./images/cursor-hover.png"), pointer;
  background-color: #6ab258;
}

@media (max-width: 767.5px) {
  #home {
    margin: 1rem;
  }
  #home .top,
  #home .bot {
    display: block;
  }
  #home .mid {
    font-size: 6rem;
  }
  #home .top-left,
  #home .top-right,
  #home .bot-left,
  #home .bot-mid,
  #home .bot-right {
    display: block;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-block: 2rem;
    text-align: center;
  }
}
