#skills {
  background-color: black;
  min-height: 100vh;
}

.skills-container {
  padding-block: 5rem;
}

.skills-container h2 {
  text-align: center;
  color: #e5e5e5;
  letter-spacing: 10px;
  padding-block: 2rem 0;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
  font-weight: bolder;
  font-size: 4vmax;
}

.skills-container .icon {
  color: #e5e5e5;
  text-align: center;
  font-size: 80px;
  transition: 0.4s;
}

.skills-container .icon:hover {
  color: #808080;
}

.skills-container .text {
  color: #e5e5e5;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 2vmax;
}
