body {
  background-color: black;
  background-image: url("./main/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
